* {
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	font-family: 'Consolas';
	border: 1px solid red;
}

#title {
	color: white;
	text-align: center;
}

#canvas-container,
#input-container {
	width: 100%;
	text-align: center;
}

#gameScreen {
	display: inline;
	/* background-color: tomato; */
	width: 800px;
	height: 600px;
}

#input {
	display: inline;
	color: white;
}
